@import "tailwindcss";

:root {
	--primary: #61bf9c;
	--secondary: #d9c26e;
}
* {
	font-family: "Montserrat", sans-serif;
}
::-webkit-scrollbar {
	display: none;
}
body {
	background-color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
